.DS_Store
/cmake_install.cmake
/CMakeCache.txt
/CMakeFiles/
/install_manifest.txt
/libmultigrid.a
/Makefile
/poisson_example/cmake_install.cmake
/poisson_example/CMakeCache.txt
/poisson_example/CMakeFiles/
/poisson_example/Makefile
/poisson_example/poisson
viscoplastic_example/cmake_install.cmake
viscoplastic_example/CMakeCache.txt
viscoplastic_example/CMakeFiles/
viscoplastic_example/Makefile
viscoplastic_example/mosolov